.idea
mariadb
.env

node_modules

test-theme/wp-admin
test-theme/wp-includes

test-theme/.htaccess
test-theme/index.php
test-theme/license.txt
test-theme/readme.html
test-theme/wordfence-waf.php
test-theme/wp-activate.php
test-theme/wp-blog-header.php
test-theme/wp-comments-post.php
test-theme/wp-config.php
test-theme/wp-config-docker.php
test-theme/wp-config-sample.php
test-theme/wp-cron.php
test-theme/wp-links-opml.php
test-theme/wp-load.php
test-theme/wp-login.php
test-theme/wp-mail.php
test-theme/wp-settings.php
test-theme/wp-signup.php
test-theme/wp-trackback.php
test-theme/xmlrpc.php

test-theme/wp-content/languages
test-theme/wp-content/plugins/akismet
test-theme/wp-content/plugins/hello.php
test-theme/wp-content/themes/twentytwenty
test-theme/wp-content/themes/twentytwentyone
test-theme/wp-content/themes/twentytwentytwo
test-theme/wp-content/themes/twentytwentythree
test-theme/wp-content/uploads