$blue_color: #6495EDFF;
$white_color: #FFFFFF;
$red_color: #CC1818;
$deep_blue_color: #2E5D90;

body {
  color: $blue_color;
  padding: 0;
  margin: 0;
}
header {
  display: flex;
  align-items: center;
  background-color: $blue_color;
  color: $white_color;
  width: 100%;
  padding: 25px;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 25px;
}
.menu {
  flex-basis: 30%;
  margin: 10px;
  a {
    color: $white_color;
    text-decoration: none;
  }
}
section {
  display: flex;
}
form {
  border: 1px solid black;
  border-radius: 25px;
  padding: 15px;
  margin: 10px;
}
.genres-list {
  list-style-type: none;
}
.countries-list {
  list-style-type: none;
}
.actors-list {
  list-style-type: none;
}
.film-preview {
  display: flex;
  align-items: center;
  margin: 20px;
}
.btn-apply-filter {
  border: 1px solid #CC1818;
  color: $white_color;
  background: #CC1818;
  border-radius: 25px;
  margin-top: 10px;
  padding: 4px 24px;
  transition: all ease-in-out 0.1s;
  cursor: pointer;
  font-size: 16px;
  &:hover {
    background: #FFFFFF;
    color: $red_color;
    transition: all ease-in-out 0.1s;
  }
}
.btn-reset-filter {
  text-decoration: none;
  border: 1px solid #CC1818;
  color: $white_color;
  background: #CC1818;
  border-radius: 25px;
  margin-top: 10px;
  padding: 4px 24px;
  transition: all ease-in-out 0.1s;
  &:hover {
    background: #FFFFFF;
    color: $red_color;
    transition: all ease-in-out 0.1s;
  }
}
.film-preview-thumbnail {
  margin-right: 20px;
}
.single-film-info {
  margin: 15px;
  font-size: 25px;
}
footer {
  background-color: $deep_blue_color;
  padding: 25px;
  color: $white_color;
}
